/*
Theme Name: Shopbiz Lite 
Theme URI: http://themeicy.com/themes/shopbiz-lite/
Author: themeicy
Author URI: http://themeicy.com/
Description: shopbiz is a powerful bootstrap Wordpress theme for business companies or individuals. Shopbiz theme which can be used for web design firms or any other corporate, business, agencies, bpo, consulting, legal, attorney, law firms, online shops, woocommerce, health, digital, medical, clinic, dental, spa, beauty, massage, gym, fitness, trainer, coach, restaurant, cafe, food, recipes, technology and any other kind of website purpose. It comes with all features these kind of shop page, blog page, Contact form seven working, custom logo, slides variation, color pallate.demo at https://themeansar.com/demo/wp/shopbiz/ , check the spa demo at https://themeansar.com/demo/wp/shopbiz/spa/ 
Version: 1.5.2
Tags: three-columns, left-sidebar, right-sidebar, custom-colors, custom-logo, featured-images, full-width-template, threaded-comments, blog, e-commerce, entertainment, food-and-drink, news
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: shopbiz
*/

/* --------------------------------------
=========================================
	1. Header
=========================================
-----------------------------------------*/
/*---------------------------------------
	1.1 Theme Menu          
-----------------------------------------*/
.ta-head-detail {
	padding: 5px 0;
}
.ta-head-detail .info-left {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.ta-head-detail .info-left li {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
}
.ta-head-detail .info-left li a {
	font-size: 13px;
}
.ta-head-detail .info-left i {
	font-size: 14px;
	padding-right: 10px;
}
.info-right {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
.info-right li {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
}
.ta-head-detail .info-right li a {
	font-size: 13px;
}
.ta-head-detail .info-right i {
	font-size: 14px;
	padding-right: 10px;
}
.navbar-wp {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-size: 26px;
    height: auto;
    line-height: 25px;
    margin-right: 50px;
    padding: 16px 0 16px 15px;
    text-shadow: 2px 2px 1px rgba(150, 150, 183, 0.18);
}
.navbar-brand span.site-description {
    font-size: 13px;
    line-height: 0;
}
.navbar-wp .navbar-nav > li {
    margin-top: 20px;
}
.navbar-wp .navbar-nav > li > a {
    font-family: "Prompt",sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    margin-right: 4px;
    padding: 10px 16px;
    transition: all 0.25s ease-out 0s;
}
.navbar-wp .navbar-nav > li > ul > li > a i {
    padding-right: 10px;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
}
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.navbar-toggle {
    border-radius: 2px;
    box-shadow: inherit !important;
    margin-top: 20px;
    padding: 12px 16px 7px;
}
.navbar-wp .dropdown-menu {
	min-width: 200px;
	padding: 0;
	border: none;
	border-radius: 0;
	z-index: 10;
	right: auto;
	left: 0;
}
.navbar-wp .dropdown-menu > li:last-child {
	border: 0
}
.navbar-wp .dropdown-menu > li > a {
	padding: 8px 15px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
}
.navbar-nav > li:last-child > ul::before {
	right: 20px;
	position: absolute;
	left: auto;
}
.navbar-nav > li:last-child > .dropdown-menu {
	right: 0;
	left: auto;
}
.navbar-wp.affix .navbar-inner {
	border-bottom: 0
}
.navbar-wp.affix .navbar-nav > li > a {
	padding: 18px 16px;
	margin-right: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase
}
.dropdown-submenu {
	position: relative
}
.dropdown-submenu > .dropdown-menu {
	top: -1px;
	left: 100%;
	margin-top: 0;
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
	padding: 0
}
.dropdown-submenu.pull-left {
	float: none
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px
}
.is-sticky .navbar-wp {
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.is-sticky .navbar-brand {
	padding: 8px 0 0 15px;
	transition: all 0.25s ease-out 0s;
	font-size: 22px;
	line-height: 18px;
}
.is-sticky .navbar-brand img {
	height: 40px;
	transition: all 0.25s ease-out 0s;
}
.is-sticky .custom-logo-link {
	padding: 0;
}
.is-sticky .navbar-nav > li {
	padding: 0;
	transition: all 0.25s ease-out 0s;
	margin-top: 0;
}
.is-sticky .navbar-nav > li > a {
	padding: 16px 16px;
	transition: all 0.25s ease-out 0s;
}

.ta-search-box > .dropdown-menu {
	right: 0;
	left: auto;
}
.ta-search-box .ta-search .btn {
	padding: 2px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
	border-width: 1px;
	border-style: solid; 
} 
/* --------------------------------------
=========================================
	2.General
=========================================
-----------------------------------------*/

/*---------------------------------------
	2.1.Body & Global           
-----------------------------------------*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.boxed {
	width: 1170px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
}
a {
	text-decoration: none;
}
body a:focus, body a:hover {
	outline: none;
	text-decoration: none;
}
select {
	background-clip: padding-box;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 3px;
	color: #444;
	display: block;
	font-weight: 400;
	overflow: hidden;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
 .no-gutter > [class*=col-] {
 padding-right: 0;
 padding-left: 0;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	border-radius: 2px;
	margin-bottom: 20px;
	box-shadow: inherit;
	padding: 6px 12px;
	line-height: 25px;
	border-width: 2px;
	border-style: solid;
}
input[type="submit"], button, .button {
	padding: 5px 35px;
	line-height: 30px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}
input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-width: 2px;
	border-style: solid;
}
input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
mark, .mark {
	padding: 2px 5px;
	border-radius: 3px;
}
/*Responsive Video*/
.responsive-video {
	height: 0;
	padding-top: 1px;
	position: relative;
	padding-bottom: 56.25%; /*16:9*/
}
.responsive-video iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}
/*---------------------------------------
	2.2.Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 28px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 18px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Prompt', sans-serif;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 50px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 50px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.text-alignleft {
    text-align: left;
}

.text-alignright {
    text-align: right;
}

.text-aligncenter {
    text-align: center;

}
.ta-accordion-heading {
	margin: 10px 0;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.ta-accordion-body {
	border-width: 1px;
	border-style: solid;
	margin: -10px 0 10px 0;
	padding: 10px;
	transition: all 0.4s ease 0s;
}
.ta-accordion-heading > a.collapsed .icon-expanded {
	display: none;
}
.ta-accordion-heading > a i.icon-expanded {
	display: none;
}
.ta-accordion-heading > a.collapsed .icon-collapsed {
	display: inline-block;
	vertical-align: baseline;
}
blockquote {
	position: relative;
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
}
blockquote::before {
	color: #d0d0d0;
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
}
.margin-top-zero {
	margin-top: 0px;
}
.margin-bottom-zero {
	margin-bottom: 0px;
}
.margin-top-10 {
	margin-bottom: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-80 {
	margin-top: 80px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-top-50 {
	padding-top: 50px;
}
.padding-top-40 {
	padding-top: 40px;
}
.padding-top-60 {
	padding-top: 60px;
}
.padding-top-80 {
	padding-top: 80px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-50 {
	padding-bottom: 50px;
}
.padding-bottom-60 {
	padding-bottom: 60px;
}
.padding-bottom-80 {
	padding-bottom: 80px;
}
/*---------------------------------------
	2.3.Alerts Styles           
-----------------------------------------*/
.alert-success, .text-success {
	background-color: #2ac56c;
	color: #fff;
}
.alert-info, .text-info {
	background-color: #4593e3;
	color: #fff;
}
.alert-danger, .text-danger {
	background-color: #f06060;
	color: #fff;
}
.alert-warning, .text-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress-bar-success {
	background-color: #2ac56c;
	color: #fff;
}
.progress-bar-info {
	background-color: #4593e3;
	color: #fff;
}
.progress-bar-danger {
	background-color: #f06060;
	color: #fff;
}
.progress-bar-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress {
	border-radius: 0;
}
.progress .progress-bar {
	overflow: hidden;
	position: absolute;
}
/*---------------------------------------
	2.4.Button Styles           
-----------------------------------------*/
.btn {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btn-theme {
	border: none;
}
.btn-theme:hover, .btn-theme:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.btn-theme-two {
	margin-left: 15px;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
.pagination > li > a, .pagination > li > span {
	margin: 6px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	transition: all 0.3s ease 0s;
}
button.mfp-close:hover, button.mfp-close:focus {
	background: inherit;
}
/*---------------------------------------
	2.5.WP Styles  
-----------------------------------------*/
/*--WP--*/

.bypostauthor > article .fn:after {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
.sticky {
	display: none;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
	max-width:100%;
}
.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.content-area img.alignnone, .content-area figure.alignnone img {
	width: 100%;
	height: auto;
}
.content-area figure {
	width: 100%;
}
.entry-header h1 {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	font-size: 24px;
}
.entry-header h1::before {
	border: 1px solid;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.4s ease 0s;
}
.entry-header h1:hover::before {
	width: 13%;
}
.entry-footer {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.entry-footer .screen-reader-text {
	display: none;
}
img.alignnone {
	width: 100%;
	height: auto;
}
img.size-large {
	width: 100%;
	height: auto;
}
/*----woocommerce----*/
/* woocommerce v2.3.5 */
*:focus {
	outline: 0;
}
.woocommerce h2 {
	font-size: 22px;
}
.woocommerce h3 {
	font-size: 20px;
}
/*----product----*/
.woocommerce .products span.onsale, .woocommerce span.onsale {
	border-radius: 0;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 25px;
	margin: 4px !important;
	min-height: 10px;
	padding: 0 12px;
	z-index: 999;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.woocommerce span.onsale {
	margin: 10px !important;
}
.woocommerce ul.products li.product {
	text-align: center;
	padding-bottom: 25px;
	transition: all 0.4s ease 0s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.woocommerce ul.products li.product:hover {
	box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
.woocommerce ul.products li.product a img:hover {
	opacity: 0.6;
}
.woocommerce-page .woocommerce-ordering select {
	padding: 12px 15px 12px 10px;
	color: #A0A0A0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
}
.woocommerce-page .products .product > a:first-child {
	position: relative;
	text-align: center;
	display: block;
}
.woocommerce-page .products a.button {
	display: inline-block;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 0;
	margin: 10px;
	border: none;
	font-size: 12px;
	margin: 0 auto !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: all 0.4s linear 0s;
}
.woocommerce-page .products h3 {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
	float: none;
	width: auto;
	margin: 0;
}
.woocommerce-page .products .star-rating {
	position: relative;
	margin: 0 auto;
}
.woocommerce-page .products a .price {
	line-height: 20px;
	width: 100%;
	float: left;
	height: auto;
	min-height: 40px;
	text-align: center;
	padding: 10px 0;
}
.woocommerce-page .products a .price del {
	display: inline-block !important;
	line-height: 20px;
}
.woocommerce-page .products a .price ins {
	display: inline-block;
	font-weight: bold;
	background: none;
	line-height: 20px;
	margin-left: 10px;
}
.woocommerce-page .products .added_to_cart {
	display: inline-block;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 4px;
	border: none;
	font-size: 12px;
	margin: 0;
}
.woocommerce-page .woocommerce-result-count {
	float: left;
	font-size: 14px;
	line-height: 46px;
	margin-top: 20px;
}
.woocommerce-page .woocommerce-ordering {
	float: right;
	margin-top: 20px;
}
.woocommerce-page .product-type-simple {
	position: relative;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	font-size: inherit;
}
footer .ta-widget .woocommerce ul.cart_list li img, footer .ta-widget .woocommerce ul.product_list_widget li img {
	margin-top: 7px;
}
/*woocommerce-tabs*/
.tabs.wc-tabs {
	text-align: center;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-width: 0 0 2px 0;
	border-style: solid;
} 
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	background: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	background: transparent;
	border: none;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	font-size: 22px;
	line-height: 25px;
}
.related.products {
	text-align: center;
}
.related.products h2 {
	font-size: 26px;
	line-height: 40px;
}
/*woocommerce-form*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	height: 40px;
	margin-bottom: 20px;
	border: 2px solid #ebebeb;
	color: #ccc;
	border-radius: 3px;
	padding: 6px 12px;
}
.select2-container .select2-choice {
	height: 40px;
	padding: 6px 12px;
	border: 2px solid #eee;
}
.woocommerce #review_form #respond textarea {
    border-width: 2px;
    border-style: solid;
}
/*woocommerce-comments*/
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius: 0;
}

/*woocommerce-cart*/
.woocommerce table.shop_table {
	border-radius: 0;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
	float: none;
	line-height: 30px;
	padding: 5px 35px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	line-height: 30px;
	padding: 5px 35px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-radius: 3px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled {
	color: #fff;
	padding: 5px 35px;
}
/*woocommerce-messages*/
.woocommerce-page .woocommerce-message {
	margin: 0px 0 40px;
	border-radius: 3px;
	list-style: none;
}
.woocommerce-page .woocommerce-message a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-error {
	list-style: none;
	padding: 0;
	margin: 0px 0 40px;
	border-radius: 3px;
	border: none;
	float: left;
	width: 100%;
}
.woocommerce-page .woocommerce-error a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-info {
	list-style: none;
	padding: 0;
	margin: 0px 0 40px;
	border-radius: 3px;
	border: none;
	float: left;
	width: 100%;
	margin-top: 25px !important;
}
.woocommerce-page .woocommerce-info a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-info {
	float: left;
	text-align: left;
	padding-top: 30px;
}
.woocommerce-page .woocommerce .woocommerce-info {
	border-radius: 3px;
	border: none;
	padding-top: 15px;
	margin-bottom: 40px;
}
.woocommerce-page .woocommerce .woocommerce-info a {
	opacity: 0.9;
}
/*woocommerce-pagination*/
.woocommerce nav.woocommerce-pagination ul {
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
} 
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	float: left;
	line-height: 1.42857;
	margin: 6px;
	padding: 6px 12px;
	border-width: 1px;
	border-style: solid;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav .woocommerce-pagination ul li span.current {
	border-width: 1px;
	border-style: solid;
}
/*woocommerce-price-filter*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #1a2128;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius: 0;
	background: #fff;
}

/*----contactform----*/
.wpcf7-form .wpcf7-form-control {
	margin-top: 6px;
	margin-bottom: 15px;
	font-size: 12px;
	height: 40px;
	padding: 6px 12px;
	display: block;
	line-height: 1.42857143;
	width: 100%;
	border-width: 2px;
	border-style: solid;
}
.wpcf7-form .wpcf7-textarea {
	height: 150px;
	border-radius: 3px;
}
.wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus {
	box-shadow: none;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	width: auto;
}
/*----contactform footer-widget----*/
footer .ta-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	margin-bottom: 0;
}
/*---------------------------------------
=========================================
	3.content-Home-Sections
=========================================
-----------------------------------------*/

/*---------------------------------------
	3.1.ta-slider-warraper          
-----------------------------------------*/
.ta-slider-warraper #ta-slider {
	margin: 0;
	position: relative;
	z-index: 1;
	float: left;
	width: 100%;
}
.ta-slider-warraper #ta-slider .item img {
	width: 100%;
	min-height: 400px;
}
.ta-slider-warraper #ta-slider .item iframe {
	border: 6px solid #fff;
}
/*--------------- ti slider inner ---------------*/
#ta-slider .ta-slider-inner {
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
	background: rgba(0,0,0,0.4);
}
#ta-slider .inner-table {
	display: table;
	height: 100%;
}
#ta-slider .inner-table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}
#ta-slider .slide-caption {
	width: 50%;
	margin: auto;
	text-align: center;
}
#ta-slider .slide-caption .description {
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 0 auto;
	width: 70%;
}
#ta-slider .slide-caption .description p {
	margin: 0;
}
#ta-slider p {
	font-size: 14px;
}
/*--------------- ta-slider-Control ---------------*/
.ta-slider-warraper .owl-controls {
	margin-top: -24px;
}
.ta-slider-warraper .owl-controls .owl-buttons div {
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	display: block;
	opacity: 1;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.ta-slider-warraper .owl-controls .owl-buttons div i {
	
}
.ta-slider-warraper .owl-controls .owl-buttons {
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.ta-slider-warraper:hover .owl-controls .owl-buttons {
	opacity: 1;
}
.ta-slider-warraper:hover .owl-controls .owl-buttons .owl-prev {
	left: 35px;
}
.ta-slider-warraper:hover .owl-controls .owl-buttons .owl-next {
	right: 35px;
}
.ta-slider-warraper .owl-controls .owl-buttons .owl-prev, .ta-slider-warraper .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	z-index: 5;
	margin: -30px 0 0;
	transition: all 0.3s ease 0s;
}
.ta-slider-warraper .owl-controls .owl-buttons .owl-prev {
	left: 16px;
}
.ta-slider-warraper .owl-controls .owl-buttons .owl-next {
	right: 16px;
}
.ta-slider-warraper .owl-controls .owl-page {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}
.ta-slider-warraper .owl-controls .owl-page.active > span {
	width: 12px;
	height: 12px;
}
.ta-slider-warraper .owl-controls .owl-page span {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
}
.ta-slider-warraper .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #fff;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.ta-slider-warraper .owl-pagination {
	bottom: 15px;
	left: 0;
	position: relative;
	right: 0;
	text-align: center;
}
/*--------------- ti slider Custom Buttons---------------*/
.btn.btn-tislider, .btn.btn-tislider:hover, .btn.btn-tislider:focus {
	outline: none;
	margin: 20px auto;
	letter-spacing: 1px;
}
.btn.btn-tislider-two {
	outline: none;
	margin-top: 20px;
	letter-spacing: 1px;
}
/*---------------------------------------
	3.2 ta-section         
-----------------------------------------*/
.ta-section {
	padding: 40px 0;
	margin: 0;
	border-bottom: 1px solid #e8e8e9;
}
#content {
	padding: 60px 0;
}
/*---------------------------------------
	3.3 ta-heading           
-----------------------------------------*/
.ta-heading {
	margin-bottom: 20px;
	text-align: center;
}
.ta-heading h1 {
	font-size: 26px;
}
.ta-heading h3 {
	font-size: 30px;
}
.ta-heading .ta-heading-inner {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 0;
	line-height: 40px;
	text-transform: capitalize;
	width: auto;
	font-weight: bold;
	letter-spacing: 1px;
}
.ta-heading-bor-bt h5 {
	position: relative;
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
/*---------------------------------------
	3.4 ta-sercive          
-----------------------------------------*/
.ta-service {
	padding: 0;
	border: 1px solid #eee;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	transition: all 0.4s ease-in-out 0s;
	cursor: pointer;
}
.ta-service:hover, .ta-service.two:hover {
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
.ta-service.two:hover {
	transform: translateY(-8px);
}
.ta-service img {
	max-width: 100%;
	width: 100%;
}
.ta-service:hover img{
	transition: all 0.8s ease 0s;
	transform: scale(1.2);
}
.ta-service-inner {
	background: rgba(0,0,0,0.65);
	position: absolute;
	bottom: 0;
	z-index: 420;
	width: 100%;
	text-align: center;
	padding: 6px 24px 15px 24px;
	transition: all 0.4s linear 0s;
}
.ta-service .ta-service-inner {
	transform: translate3d(0, 300px, 0);
	-moz-transform: translate3d(0, 300px, 0);
	-ms-transform: translate3d(0, 300px, 0);
	-o-transform: translate3d(0, 300px, 0);
	-webkit-transform: translate3d(0, 300px, 0);
}
.ta-service:hover .ta-service-inner {
	transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}
.ta-service-inner h3 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -0.03em;
	display: block;
}
.ta-service-inner p {
	font-size: 14px;
	line-height: 25px;
	padding: 0 2px;
}
.ta-service:hover .ta-service-inner p {
	display: block;
}
.ta-service-inner .ser-icon {
	border-radius: 50%;
	height: 80px;
	margin: 30px auto;
	transition: color 0s ease 0s, all 250ms ease 0s;
	width: 80px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.ta-service-inner i {
	font-size: 40px;
	line-height: 80px;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.ta-service.two {
	border-width: 1px 0 0 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ta-service.two .ta-service-inner{
	position: relative;
	transform: none;
	background: rgba(0,0,0,0);
}
.ta-service.two:hover img {
	transform: inherit;
}
.ta-service-inner .btn-more {
	margin: 10px 0 0;
	padding: 5px 18px;
	transition: all 0.3s ease 0s;
	border-width: 2px;
	border-style: solid;
}
.ta-port-load-hide-ser {
	display: none;
	float: left;
}
.ta-port-load-show-ser {
	display: block;
	float: left;
}
.ta-port-load-hide-ser, .ta-port-load-show-ser i {
	font-size: 20px;
	margin-right: 8px;
}

.col-md-4.service_area:nth-child(3n+1){ clear:left; }

/*---------------------------------------
	3.6.ta-feature         
-----------------------------------------*/
.ta-feature-box {
	clear: both;
}
.ta-feature-box-icon {
	background: rgba(0,0,0,0);
	float: left;
	display: inline-block;
	height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 50px;
	line-height: 35px;
}
.ta-feature-box-icon i {
	border-radius: 5px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
	font-size: 20px;
	border-width: 2px;
	border-style: solid;
}
.ta-feature-box-icon i:hover {
	border-width: 2px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.ta-feature-box-info {
	margin-left: 30px;
	padding-left: 65px;
}
.ta-feature-box-info h4 {
	font-size: 16px;
	line-height: 20px;
}
/*---------------------------------------
	3.7.ta-callout           
-----------------------------------------*/
.ta-callout {
	background: url(images/callout-back.jpg) no-repeat fixed 0 0 /cover;
	height: 100%;
	overflow: hidden;
	width: 100%;
	padding: 0;
	text-align: center;
}
.ta-callout .overlay {
	height: 100%;
	position: relative;
	width: 100%;
	padding: 60px 0;
}
.ta-callout .overlay h3 {
	font-size: 32px;
	font-weight: bold;
	line-height: 50px;
}
/*---------------------------------------
	3.8.ta-blog          
-----------------------------------------*/
.ta-blog-section {
}
.ta-blog-section .overlay {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 40px 0;
}
.ta-blog-post-box {
	margin-bottom: 40px;
	background: #fff;
	padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	overflow-wrap: break-word;
}
.ta-blog-post-box input[type="checkbox"], .ta-blog-post-box input[type="radio"]{
	display: inline;
}
.ta-blog-post-box table, .ta-blog-post-box th, .ta-blog-post-box td {
    border: 1px solid #d1d1d1;
}
.ta-blog-post-box table{
	 border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
.ta-blog-post-box th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
.ta-blog-post-box th, .ta-blog-post-box td {
    padding: 0.4375em;
}
.ta-blog-post-box td {
    border-width: 0 1px 1px 0;
}
.ta-blog-post-box .small {
	font-size: 16px;
	padding: 20px;
}
.ta-blog-post-box .small > p {
	margin-bottom: 20px;
}
.ta-blog-post-box .small iframe {
	width: 100%;
}
.ta-blog-thumb {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	float: left;
}
.ta-blog-thumb img {
	position: relative;
	max-width: 100%;
	float: left;
	height: auto;
}
.ta-blog-date {
	height: 75px;
	left: 0px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: 75px;
	padding: 8px 10px;
	margin: 0;
	z-index: 10;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.ta-blog-date span {
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin: 0;
}
.ta-blog-author {
	background: #e8e8e8 none repeat scroll 0 0;
	font-size: 16px;
	font-weight: 800;
	height: 75px;
	right: 0px;
	padding: 4px;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 75px;
	margin: 0 10px -30px 0;
	z-index: 999;
}
.ta-blog-author img {
	max-width: 100%;
	border-radius: 100%;
}
.ta-blog-post-box h2:first-child {
	font-size: 18px;
	line-height: 20px;
	position: relative;
}
.ta-blog-category {
	padding: 10px 0;
}
.ta-blog-category a {
	color: #b6b6b6;
	display: inline-block;
	font-weight: normal;
	padding: 0 10px 0 0;
}
.ta-blog-category i {
	color: #888;
}
.btn-blog {
	padding: 10px 20px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid; 
	background: transparent;
}
.btn-blog:hover {
	border-width: 1px;
	border-style: solid; 
	transition: all 0.3s ease 0s;
}
.ta-info-author-block {
	margin-bottom: 40px;
	margin-top: 10px;
	padding: 20px 20px 0px 20px;
	color: #999;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ta-info-author-block a {
	color: #777;
	font-size: 13px;
}
.ta-info-author-block .row {
	margin: 0;
}
.ta-info-author-block h4 {
	color: #333;
	font-size: 18px;
	font-weight: normal;
}
.ta-info-author-block h4 span {
	color: #999999;
	font-size: 13px;
	padding-right: 5px;
}
.ta-info-author-block h4 span i {
	padding-right: 5px;
}
.ta-info-author-block .ta-author-pic img {
	margin: 0 25px 15px 0;
	float: left;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: 75px;
	height: 75px;
}
.ta-info-author-block .ta-info-author-social {
	font-size: 24px;
	padding: 0;
}
.ta-info-author-block .ta-info-author-social li a {
	color: #dbdbdb;
	font-size: 24px;
}
.ta-info-author-block .ta-info-author-social li a:hover {
	color: #777;
}
.comment_section .comment-reply-link:before {
	content: "\f112";
	font-family: FontAwesome;
	padding-right: 8px;
}
.comment_section .comment-reply-link {
	border-radius: 4px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
	background: #f0f0f0;
	color: #666;
	border-color: #f0f0f0;
}
.ta-comments a {
	color: #777;
}
.ta-comments .ta-reply {
	border-radius: 4px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
}
.ta-comments a i {
	padding-right: 6px;
}
.ta-comments h4 {
	color: #888;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
.ta-comments h4 span {
	color: #999999;
	font-size: 12px;
	padding-left: 7px;
}
.ta-comments .btn {
	margin-left: 5px;
}
.ta-comments .media {
	margin-top: 0;
}
.ta-comments .comment .media-body > p:last-child {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
	margin-top: 0;
}

.ta-comments li .media-body > .small {
	border-bottom: none!important;
	padding: 0;
	color: #999;
}
.ta-comments li .media-body > p {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0px 20px 5px;
	margin-bottom: 20px;
	color: #999;
}
.ta-comments li .media .media {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ta-comments li:last-child .media-body > p {
	border-bottom: none;
	padding: 0;
}
.ta-comments .media-left img {
	height: 64px;
	width: 64px;
	border-radius: 50%;
}
.ta-comments .comment-list li {
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	border-left: 2px solid #eee;
}
.ta-blog-thumb > .responsive-video {
	z-index: 9;
	min-height: 240px;
}
/*---------------------------------------
	3.9.ta-contact-section        
-----------------------------------------*/
.ta-contact .overlay {
	padding: 40px 0;
	margin: 0;
}
.ta-contact h5 {
	font-size: 20px;
	margin-bottom: 40px;
	position: relative;
	padding-bottom: 15px;
}
.form-control {
	border-radius: 2px;
	margin-bottom: 20px;
	box-shadow: inherit;
	height: 40px;
}
.form-control {
	border-width: 2px;
	border-style: solid;
}
.form-control::-moz-placeholder {
opacity: 1;
}
.form-control:focus, .form-control:hover, .form-control:active {
	box-shadow: none;
}
.ta-contact .ta-widget-address {
	padding: 0 15px 15px 0;
}
.ta-contact .ta-widget-address > li:first-child {
	padding-top: 0;
}
.ta-contact .ta-widget-address > li {
	list-style: none;
	padding: 15px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.ta-contact .ta-widget-address > li:last-child {
	border-bottom: none;
}
.ta-contact .ta-widget-address li span.icon-addr {
	height: 25px;
	line-height: 25px;
	margin-right: 18px;
	text-align: center;
	width: 25px;
	display: inline-block;
	transform: rotate(45deg);
}
.ta-contact .ta-widget-address li span.icon-addr i {
	font-size: 14px;
	transform: rotate(-45deg);
}
.ta-contact .ta-widget-address strong {
	padding-right: 5px;
}

/* --------------------------------------
=========================================
	4.ta-breadcrumb-section
=========================================
-----------------------------------------*/
.ta-breadcrumb-section {
	height: 100%;
	margin: 0 0 0px;
	overflow: hidden;
	padding: 0;
	width: 100%;
	box-shadow: 0 0 5px 0 #aaaaaa;
	background: url(images/breadcrumb/background.jpg) repeat fixed;
}
.ta-breadcrumb-section .overlay {
	background: rgba(0,0,0,0.4);
	height: 100%;
	padding: 40px 0;
	position: relative;
	width: 100%;
}
.ta-breadcrumb-title {
	text-align: center;
	padding: 0;
}
.ta-breadcrumb-title h1 {
	font-size: 28px;
	margin: 0;
	line-height: 50px;
}
.ta-page-breadcrumb {
	list-style: none outside none;
	margin-bottom: 0px;
	padding: 0;
	text-align: center;
	font-size: 15px;
	line-height: 40px;
}
.ta-page-breadcrumb > li {
	display: inline-block;
}
.ta-page-breadcrumb > li + li:before {
	content: "\f105";
	font-family: fontawesome;
	padding: 0 5px;
}
/* --------------------------------------
=========================================
	5.ta-sidebar
=========================================
-----------------------------------------*/
.ta-sidebar {
	padding: 0;
	margin-top: 0;
}
.ta-sidebar a {
	transition: all 0.3s ease 0s;
}
.ta-sidebar .ta-widget .btn {
	padding: 2px 12px;
	border: none;
	border-radius: 0;
	height: 40px;
}
.ta-sidebar .ta-widget {
	margin-bottom: 30px;
	padding: 10px 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ta-sidebar .ta-widget ul {
	padding: 0;
	list-style: none;
}
.ta-sidebar .ta-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.ta-sidebar .ta-widget h2 {
	font-size: 16px;
	line-height: 20px;
}
.ta-sidebar .ta-widget h6, .ta-sidebar .ta-widget h2 {
	position: relative;
	padding: 10px 15px;
	margin: -10px -20px 20px;
}
.ta-sidebar .ta-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
}
.ta-sidebar .ta-widget ul li:last-child {
	border: none;
}
.ta-sidebar .ta-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.ta-sidebar .ta-widget ul.menu li .sub-menu {
	margin-left: 15px;
}
.ta-sidebar .ta-widget ul.menu li .sub-menu li {
	border-bottom: none;
	padding: 10px 0 0;
}
.ta-sidebar .ta-widget.widget_search .btn {
	border: medium none;
	border-radius: 0 3px 3px 0;
	height: 40px;
	padding: 2px 12px;
	transition: all 0.3s ease 0s;
}
.ta-sidebar .ta-category-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.ta-sidebar .ta-category-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.ta-sidebar .ta-widget .ta-widget-tags, .ta-sidebar .ta-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
.ta-sidebar .ta-widget .ta-widget-tags a, .ta-sidebar .ta-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid; 
}
.ta-sidebar .ta-widget-tags a:hover, .ta-sidebar .ta-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
/*--ta-blog-post end--*/ 
.ta-sidebar .ta-widget .ta-blog-post {
	margin-bottom: 0;
	margin-top: 0 !important;
	overflow: hidden;
	padding-bottom: 20px;
}
.ta-sidebar .ta-widget .ta-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
.ta-sidebar .ta-widget .ta-blog-post .ta-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
.ta-sidebar .ta-widget .ta-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
.ta-widget .ta-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
/*--ta-blog-post end--*/ 
/*--calendar_wrap--*/ 
.ta-sidebar .ta-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
.ta-sidebar .ta-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid; 
}
.ta-sidebar .calendar_wrap table thead th {
	border-width: 1px;
	border-style: solid;
}
.ta-sidebar .calendar_wrap table tbody td:hover, .ta-sidebar .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
.ta-sidebar .calendar_wrap table tfoot {
	border-width: 1px;
	border-style: solid; 
}
.ta-sidebar .ta-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
}
.ta-sidebar .ta-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.ta-sidebar .ta-widget .calendar_wrap table tfoot {
	font-size: 11px;
}
.ta-sidebar .ta-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
.ta-sidebar .ta-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
/*--calendar_wrap end--*/ 
.ta-sidebar .ta-widget .textwidget select, .ta-sidebar .ta-widget .textwidget img {
	width: 100%;
}

/*----woocommerce footer-widget----*/
.ta-sidebar .ta-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}
/* --------------------------------------
=========================================
	6.ta-error page
=========================================
-----------------------------------------*/
.ta-error-404 h1 {
	font-size: 100px;
}
.ta-error-404 h1 i {
	padding: 5px;
}
.ta-error-404 h4 {
	line-height: 40px;
}
.ta-error-404 p {
	line-height: 30px;
}

/* --------------------------------------
=========================================
	8.ta-footer
=========================================
-----------------------------------------*/
footer .ta-footer-widget-area {
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 50px;
}
footer .ta-widget {
	margin-bottom: 50px;
}
footer .ta-widget:nth-child(4n+1) {
	clear: both;
}
footer .ta-search-widget .btn {
	padding: 1px 12px;
	border-radius: 0;
	height: 40px;

}
footer .ta-widget.widget_search .btn {
	border-width: 1px;
	border-style: solid;
	padding: 2px 12px;
	height: 40px;
	border-top-right-radius: 3px;
}
footer .ta-widget.widget_search .btn-default, footer .ta-widget.widget_search .btn-default:hover {
	background-color: initial;
}
footer .ta-widget.widget_search .btn:hover, footer .ta-widget.widget_search .btn:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-widget h6 {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 30px 0;
	position: relative;
	padding-bottom: 12px;
}
footer .ta-widget h6::before {
	border: 1px solid;
	bottom: 0px;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px
}
footer .ta-widget:hover h6::before {
	width: 50%;
	transition: all 0.3s ease 0s;
}
footer .ta-widget ul {
	padding: 0;
	list-style: none;
}
footer .ta-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
footer .ta-widget ul li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-widget ul li:first-child {
	padding-top: 0;
}
footer .ta-widget ul li:last-child {
	border-bottom: none;
}
footer .ta-widget ul li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .ta-widget ul li a {
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-widget ul li a:hover {
	padding-left: 10px;
}
footer .ta-widget .list-unstyled li:first-child {
	padding-top: 0;
}
footer .ta-widget .list-unstyled li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .ta-widget .list-unstyled li {
	border-width: 1px;
	border-style: solid;
}
footer .ta-widget .list-unstyled li :last-child {
	border-bottom: none;
}
footer .ta-widget .list-unstyled li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-widget .list-unstyled li a {
	line-height: 25px;
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-widget .list-unstyled li a:hover {
	padding-left: 10px;
}

footer .ta-widget .ta-widget-tags, footer .ta-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
footer .ta-widget .ta-widget-tags a, footer .ta-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
}
footer .ta-widget .ta-widget-tags a:hover, footer .ta-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
footer .ta-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .ta-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
	border-width: 1px;
	border-style: solid;
}
footer .ta-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
footer .calendar_wrap table tbody td:hover {
	transition: all 0.3s ease 0s;
}
footer .ta-widget .calendar_wrap table tfoot {
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
}
footer .ta-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
footer .ta-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
footer .ta-widget .textwidget select,footer .ta-widget .textwidget img {
	width: 100%;
}
footer .ta-blog-post {
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
footer .ta-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
footer .ta-blog-post .ta-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
footer .ta-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
footer .ta-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
footer .ta-widget .form-control {
	border-width: 1px;
	border-style: solid;
}
/*----woocommerce footer-widget----*/
footer .ta-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}
/*----contactform footer-widget----*/
footer .ta-widget .wpcf7-form .wpcf7-form-control {
	border: none;
}
footer .ta-footer-copyright {
	padding: 25px 0 10px;
}
footer .ta-footer-copyright p, footer .ta-footer-copyright a {
	font-size: 13px;
	line-height: 23px;
}
footer .ta-social {
	padding: 0px;
	margin: 0;
}

footer .ta-social li {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none;
}
footer .ta-social li a:hover {
	padding-left: 0;
}
footer .ta-social li span.icon-soci {
	border-radius: 0;
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin: 0;
	text-align: center;
	width: 35px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
footer .ta-social li span.icon-soci:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ta-social li span.icon-soci i {
	font-size: 14px;
}
/* --------------------------------------
=========================================
	9.ta-scroll-button
=========================================
-----------------------------------------*/
.ti_scroll {
	bottom: 2%;
	display: none;
	height: 50px;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 50px;
	z-index: 9999;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.ti_scroll:hover {
	opacity: 1;
}
.ti_scroll i {
	font-size: 26px;
	line-height: 45px;
}
.ti_scroll:hover,.ti_scroll:focus {
	transition: all 0.3s ease 0s;
}
/* --------------------------------------
=========================================
	10.ta-Responsive Part
=========================================
-----------------------------------------*/
@media (max-width: 992px) {
.woocommerce-page .woocommerce .cart-collaterals .cart_totals {
	width: 100%;
}
.woocommerce-page .products .product > a:first-child {
/*		min-height: 325px; */
}
}
@media (max-width: 767px) {
.woocommerce-page .upsells.products ul li.product,  .woocommerce-page .upsells.products ul.products li.product {
	width: 48%;
	float: left;
	clear: both;
	margin: 0 0 2.992em;
}
.woocommerce .upsells.products ul li.product:nth-child(4),  .woocommerce-page ul.products li.product:nth-child(4) {
	margin: 0 0 2.992em;
}
.woocommerce .upsells.products ul li.product:nth-child(4+1),  .woocommerce-page ul.products li.product:nth-child(4+1) {
	clear: none;
}
.woocommerce .upsells.products ul li.product:nth-child(even),  .woocommerce-page ul.products li.product:nth-child(even) {
	margin-right: 0;
	float: right;
}
.woocommerce .upsells.products ul li.product:nth-child(odd),  .woocommerce-page ul.products li.product:nth-child(odd) {
	clear: left;
}
}
@media (max-width: 600px) {
.woocommerce-page .product .images {
	width: 100%;
}
.woocommerce-page .product .entry-summary {
	width: 100%;
	padding-left: 0%;
	margin-top: 50px;
}
.woocommerce-page .woocommerce-tabs .tabs li a {
	font-size: 14px;
}
.woocommerce-page .woocommerce-tabs .tabs li {
	padding: 10px 10px;
}
.listpost-content-wrap-large {
	position: relative;
}
.listpost-content-wrap-large {
	padding: 20px 0px 0px 0px;
}
.entry-meta-large {
	position: relative;
	float: left;
	width: 100%;
}
.entry-footer-large {
	padding-right: 0;
}
}
@media (max-width: 480px) {
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 100%;
}
.woocommerce-page .woocommerce-result-count {
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
.woocommerce-page .woocommerce-ordering {
	float: none;
}
.woocommerce-page .products .product > a:first-child {
	width: 240px;
}
.woocommerce-page .woocommerce-tabs .tabs li {
	width: 100%;
}
.woocommerce-page .woocommerce-tabs .tabs li {
	width: 100%;
	border-bottom: 2px solid #CCC;
}
.woocommerce-page .woocommerce-tabs .tabs {
	border-bottom: 0;
}
.woocommerce-page .woocommerce-tabs .comment_container {
	position: relative;
	padding-left: 0px;
	padding-top: 50px;
}
.woocommerce-page .products .product > a:first-child {
	width: 100%;
}
/* cart page */
.woocommerce table.shop_table th {
	padding: 5px 5px;
	font-size: 8px;
}
.woocommerce-page .woocommerce .product-name a {
	font-size: 12px;
	line-height: 16px;
	float: left;
}
.woocommerce table.shop_table td {
	padding: 6px 4px;
}
.woocommerce table.shop_table td,  .woocommerce table.shop_table td span,  .woocommerce table.shop_table td a,  .woocommerce table.shop_table td strong {
	font-size: 12px;
}
.woocommerce table.shop_table td .amount {
	font-size: 12px;
}
.woocommerce-page .woocommerce .product-quantity input.qty {
	width: 45px;
}
.woocommerce td.product-quantity {
	min-width: 40px;
}
.woocommerce-page .woocommerce input[type="submit"] {
	font-size: 10px;
}
.woocommerce-page .woocommerce .cart_totals tr.cart-subtotal th {
	font-size: 12px;
}
.woocommerce-cart .cart-collaterals .cart_totals tr th {
	font-size: 12px;
}
.woocommerce-cart .cart-collaterals .cart_totals table td,  .woocommerce-cart .cart-collaterals .cart_totals table td span,  .woocommerce-cart .cart-collaterals .cart_totals table td a {
	font-size: 12px;
}
.woocommerce form .form-row label {
	font-size: 12px;
}
.woocommerce-page .woocommerce .woocommerce-info,  .woocommerce-page .woocommerce .woocommerce-info a {
	font-size: 12px;
}
.woocommerce-checkout-payment label {
	font-size: 14px;
}
.woocommerce-page .woocommerce #payment div.payment_box p {
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
}
.woocommerce form .form-row {
	width: 100%;
}
.woocommerce-page .woocommerce .order_details li {
	width: 100%;
	border-bottom: 1px dashed #d3ced2;
	border-right: none;
	padding: 0 0 5px 0;
	margin-bottom: 5px;
	margin-top: 5px
}
.woocommerce-page address {
	font-size: 12px;
}
.woocommerce-page .woocommerce-error,  .woocommerce-page .woocommerce-message,  .woocommerce-page .woocommerce-error li {
	font-size: 12px;
}
.woocommerce-page .woocommerce .cart-collaterals .cart_totals a {
	width: 100%;
	margin-right: 0;
}
.woocommerce-page .woocommerce .checkbox {
	font-size: 16px;
}
.woocommerce-page .myaccount_address {
	font-size: 12px;
}
.woocommerce-page #content .quantity input.minus,  .woocommerce-page #content .quantity input.plus {
	display: none;
}
.woocommerce-page .upsells.products ul li.product,  .woocommerce-page .upsells.products ul.products li.product {
	width: 100%;
}
}
/* [end] woocommerce */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-wp .navbar-collapse.collapse {
	display: none;
}
.navbar-wp .navbar-collapse.collapse.in {
	display: block;
}
.navbar-wp .navbar-header .collapse, .navbar-toggle {
	display: block;
}
.navbar-header {
	float: none;
}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
/* logo*/
.navbar-default .navbar-brand {
	margin: 0 auto;
}
.navbar-wp .navbar-nav > li > a {
	padding: 12px;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	z-index: 8;
}
.navbar-wp .ta-search-box {
	float: left;
}
.ta-search {
	margin: 0 auto;
}
}
@media screen and (min-width: 1024px) {
.ta-slider-inner {
}
}
@media screen and (min-width: 240px) and (max-width: 1179px) {
.boxed {
	width: auto;
}
.ta-slider-inner p {
	width: auto;
}
}
@media screen and (min-width: 530px) and (max-width: 1024px) {
/*--------------- ta-slider ---------------*/
.ta-slider-inner {
	min-width: auto !important;
	width: auto !important;
}
}
@media screen and (min-width: 481px) and (max-width: 767px) {

}
@media screen and (min-width: 240px) and (max-width: 767px) {
/*--------------- ta-slider ---------------*/
.navbar-wp .navbar-brand {
    font-size: 22px;
    line-height: 20px;
    padding: 8px 0 0 30px;
}
.navbar-wp .navbar-nav > li {
	margin-top: 0;
}
.navbar-wp .navbar-nav>.active>a, .navbar-wp .navbar-nav>.active>a:hover, .navbar-wp .navbar-nav>.active>a:focus {
	border-bottom: none;
}
.navbar-wp .navbar-nav > a, .navbar-wp .navbar-nav> a:hover, .navbar-wp .navbar-nav a:focus {
	border-bottom: none;
}
.navbar-wp .navbar-nav > li {
	padding: 0;
} 
.navbar-wp .navbar-nav > li > a {
	padding: 8px 16px;
}
.ta-slider-inner {
	min-width: auto !important;
	width: auto !important;
}
#ta-slider .slide-caption .description {
	font-size: 180%;
	line-height: 1em;
	margin: 0 auto;
	width: 100%;
}
.ta-slider-warraper .owl-controls .owl-buttons div {
	width: 30px;
	height: 30px;
	font-size: 200%;
	line-height: 10px;
	border-width: 2px;
	border-style: solid;
}
}
/*--------------- Gallary ---------------*/


.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #fff;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}