			@font-face {
				font-family: 'weston';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/180811065949Weston.eot');
				src: local('weston'), url('/wp-content/uploads/useanyfont/180811065949Weston.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/180811065949Weston.woff') format('woff');
			}
            
            .et_gf_weston{background:none !important;font-family:weston;text-indent:0 !important;font-size:25px;}
            
		