			@font-face {
				font-family: 'weston';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/180811065949Weston.eot');
				src: local('weston'), url('/wp-content/uploads/useanyfont/180811065949Weston.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/180811065949Weston.woff') format('woff');
			}
            
            .weston{font-family: 'weston' !important;}
            
						h1, h4, h6, .section-header h2, .menu-item a{
					font-family: 'weston' !important;
				}
						.sub-heading, h2.white-text{
					font-family: 'weston' !important;
				}
						p, li, .home-shop-product-title h3{
					font-family: 'weston' !important;
				}
						h3, .icon-container a{
					font-family: 'weston' !important;
				}
						h5, a.strong{
					font-family: 'weston' !important;
				}
		